<div class="form-wrapper">
    <form [formGroup]="petForm" (ngSubmit)="submit()">
        <button class="btn-save" type="submit" [disabled]="!petForm.valid">Save</button>
        <button class="btn-cancel" type="button">Cancel</button>
        <div class="location">
            <label for="location">Location:</label>
            <input type="text" name="location" id="location" formControlName="location">
        </div>
        <div class="breed">
            <label for="breed">Breed:</label>
            <input type="text" name="breed" id="breed" formControlName="breed">
        </div>
        <div class="age">
            <label for="age">Age:</label>
            <input type="number" name="age" id="age" formControlName="age">
        </div>
        <div class="description">
            <label for="description">Description:</label>
            <textarea type="text" id="description" cols="30" rows="10" formControlName="description">Description</textarea>
        </div>
        <div class="contact">
            <label for="phoneNumber">Owner number:</label>
            <input type="text" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber">
        </div>
        <div class="image-path">
            <label for="imagePath">ImageURL:</label>
            <input type="text" name="imagePath" id="imagePath" formControlName="imagePath">
        </div>
        <div>
            <img src="" alt="">
        </div>

    </form>
</div>