<div class="wrapper">
    <div class="title">
        <h3>If you wonder what to do with your pet during your holiday do not hesitate to contact us</h3>
        <p>We can offer you a pet hotel where your dear friend will get special care. Our staff is cerified to work with all kinds of pets and a doctor is 24 hours available on demand. </p>
        <p>Visit us at: Lozen, Nezabravka str. 29 or call us on: +359 888 777</p>
        <p>Price per night: 20 BGN</p>
        <p>For online booking please press: </p>
        <button class="book" (click)="book()">Book now</button>

    </div>
    <div class="picture1"></div>
    <div class="picture2"></div>



</div>