<div>
    <nav>
        <ul>
            <li>
                <a routerLink="/pets">Pets</a>
            </li>
            <li>
                <a routerLink="/blog">Blog</a>
            </li>
            <li>
                <a>Shop</a>
            </li>
            <li>
                <a>Authenticate</a>
            </li>
            <li>
                <a (click)="saveData()">Save Data</a>
            </li>
            <li>
                <a (click)="fetchData()">Fetch Data</a>
            </li>
        </ul>
    </nav>
</div>