div {
    font-family: Helvetica, sans-serif;
    font-size: larger;
}

li {
    list-style: none;
    color: royalblue;
}

.ul-wrapper {
    display: flex;
    justify-content: space-around;
}

nav {
    background: lightgrey;
    padding: 10px;
}

.save-data,
.fetch-data,
.logout {
    cursor: pointer;
}

.pets-btns,
.blog-btns {
    display: flex;
    margin-left: -120px;
    margin-top: 10px;
}

.save-data {
    margin-right: 10px;
}
