<div class="form-wrapper">
    <form [formGroup]="articleForm" (ngSubmit)="submit()">
        <div class="location">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" formControlName="title">
        </div>

        <div class="description">
            <label for="description">Description</label>
            <textarea type="text" id="description" cols="30" rows="20" formControlName="description">Description</textarea>
        </div>
        <button class="btn-save" type="submit">Save</button>
        <button class="btn-cancel" type="button" (click)="cancel()">Cancel</button>

    </form>
</div>
