img {
    max-width: 400px;
}

.wrapper {
    border: 2px solid blue;
    margin: 10px;
    padding: 5px;
    max-width: 500px;
    margin-left: 30px;
    color: #551A8B;
}

.edit-btn,
.delete-btn {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: large;
    border: none;
    cursor: pointer;
}

.edit-btn {
    background: orange;
    color: white;
    margin-right: 10px;
}

.delete-btn {
    background: red;
    color: white;
}
